<!DOCTYPE html>
<html>
<head>
    <title>My First View!!</title>
</head>
<body>
  <p>

    <!--<%= @number.to_i.times do %>-->
      <!--<%= "#{@phrase}\n" %>-->
    <!--<%= end %>-->
  </p>
</body>
</html>
